@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.text {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-weight: 600;
    font-size: 60px;

    position: absolute;
    top:15%;
    padding-left:7%;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

 /* this'll wrap your entire 3 rows, and keep it in place.*/
.wrapper{    
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    top: 200px;
}

/*for the 1st flexbox */
.placeholder1{
    box-sizing: border-box;
    width:100%;
    justify-content: center;
    display:flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
}


/*for the 2nd flexbox */
.placeholder2{
    box-sizing: border-box;
    width:100%;
    justify-content: center;
    display:flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    margin-top: 20px;
}

.placeholder3{
    box-sizing: border-box;
    width:100%;
    justify-content: center;
    display:flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    margin-bottom: 70px;
    margin-top: 20px;
}


.bookmark {
    opacity: .7;
    background: none;
    width:400px;
    height:300px;
}

.blackbg {
    background-color: black;
    height: 98.9%
}


.placedesc {
    font-family: 'Karla', sans-serif;
    color: white;
    margin-top: -70px;
    margin-left: 20px;
    position: absolute;
}

.placedesc h1{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight:600;
    margin-right: 10px;
    white-space: normal;

}

.placedesc h2{
    font-size: 18px;
    font-weight: 400;
}

 /*one separate div each for place */

.place1 {
    border:none;
 
}

.place2 {
    border:none;
}

.place3 {
    border:none;
}

.place4 {
    border:none;
}

.place5 {
    border:none;
}

.place6 {
    border:none;
}

.place7 {
    border:none;
}

.place8 {
    border:none;
}

.place9 {
    border:none;
}

