@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*for the title of the page*/
.text {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-weight: 600;
    font-size: 60px;

    position: absolute;
    top:16%;
    padding-left:9%;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

 /*this'll wrap all 3 rows together to keep it in place*/
.bookmarks_wrapper{    
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 200px;
}

/*for the 1st flexbox*/
.placeholder1{
    box-sizing: border-box;
    width:100%;
    justify-content: center;
    display:flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
}


/*for the 2nd flexbox*/
.placeholder2{
    box-sizing: border-box;
    width:100%;
    justify-content: center;
    display:flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    margin-top: 20px;
}

/*for the 3rd flexbox*/
.placeholder3{
    box-sizing: border-box;
    width:100%;
    justify-content: center;
    display:flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    margin-bottom: 70px;
    margin-top: 20px;
}

/*div container for places*/
 .places {
    border:none;
}

/*div container for the pictures within each place*/
.bookmark {
    opacity: .7;
    background: none;
    width:400px;
    height:300px;
}

/*adds dim effect on pictures*/
.blackbg {
    background-color: black;
    height: 98.9%
}

/*name for the places per picture*/
.placedesc {
    font-family: 'Karla', sans-serif;
    color: white;
    margin-top: -70px;
    margin-left: 20px;
    position: absolute;
}

.placedesc h1{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight:600;
    margin-right: 10px;
    white-space: normal;

}

.placedesc h2{
    font-size: 18px;
    font-weight: 400;
}