@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;800;900&display=swap');

body{
	margin: 0;
	padding: 0;
	height: 100vh;
}
.navbar{
	background-image: linear-gradient(rgba(0, 0, 0, 0.288),rgba(0, 0, 0, 0.288)), url("../images/emirates/dubai_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#title{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    color: white;
}
.wrapper{
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.container{
    display: flex;
    width: 100%;
}
.categories {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.categories button {
    border: none;
    outline: none;
    color: white;
    flex-grow: 1;
    font-size: 20px;
}
.categories button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 250px; 
    flex-basis: auto;
    background-color: #252525;
    text-align: center;
}
button:not(:last-child) {
    border-right: 1px solid rgb(70, 70, 70);
}
  
button:hover {
    background-color: white;
    color: #d07b3b;
    cursor: pointer;
}
button:active {
    background-color: #d07b3b;
    color: white;
}

/* card holder */
  