@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;800;900&display=swap');

body{
    font-family: 'Karla', sans-serif;
}

.navbar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.288),rgba(0, 0, 0, 0.288)), url("../images/emirates/dubai_bg.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#title{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 110px;
    color: white;
}

.wrapper{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.categories{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.categories a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.categories .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255.5px;
    height: 135px;
    flex-basis: auto;
    background-color: #252525;
    text-align: center;
}
.box:not(:last-child){
    border-right: 1px solid rgb(70, 70, 70);
}

.box:hover{
    background-color: white;
    color: #D07B3B;
}
.box:active{
    background-color: #D07B3B;
    color: white;
}



.categ{
    padding: 50px 85px;
}

.post-categ h1{
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 800;
    padding: 0 0 30px;
}



section{
    width: 100%;
    height: 500px;
    display: flex;  
    align-items: center;
    overflow-x: auto;
}
section::-webkit-scrollbar{
    display: none;
}
section .slider{
    min-width: 32.5%;
    height: 90%;
    margin:  0 20px  0 0;
    position: relative;
    left: 0;
    transition: 0.5s;

}
.slider a{
    text-decoration: none;
}
picture{
    width: 100%;
    height: 75%;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}
picture img{
    width: 100%;
}
.detail h3{
    font-size: 23px;
    padding-top: 15px;
    color: black;
}
.detail h4{
    font-size: 20px;
    padding-top: 5px;
    color: #5E5E5E;
}

.next-categ{
    position: absolute;
    top: 140%;
    right: 45px;
    font-size: 2em;
    cursor: pointer;
} 

.prev-categ{
    position: absolute;
    top: 140%;
    left: 45px;
    font-size: 2em;
    cursor: pointer;
} 