@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;800;900&display=swap');

body{
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.288),rgba(0, 0, 0, 0.288)), url("../images/emirates/dubai_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height: 100%; /*hello, chinange ko to as 100%, originall 100vh, it might b better*/
}

.navbar{

    height: 100%;
}
a{
	text-decoration: none;
}

#navbar #home-nav{
	font-weight: 700;
	}
.wrapper{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* title and button */
.post-slider{
	text-align: center;
}
.post-slider h1{
	font-family: 'Monserrat', sans-serif;
	color: white;
	font-size: 130px;
	font-weight: 900;
	text-align: center;
}
.post-slider button{
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: 800;
	padding: 5px 15px;
	border-radius: 20px;
	border: none;
	margin-bottom: 10px;
}
button:hover{
	color:#FFFFFF;
	background-color: black;
}




/* slider */
.post-wrapper{
	width: 80%;
	height: 280px;
	padding-top: 10px;
	margin: 0 auto;
	overflow: hidden;
}	
.box{
	display: inline-block;
	height: 300px;
	margin: 0 10px;
	position: relative;
}
.sliderImg{
	display: block;
	width: 100%;
	height: 100%;
}
.hoverButton{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
}
.hoverButton:hover{
	opacity: 1;
}
.text{
	display: flex;
	justify-content: center;
	align-items: center;
	width:160px;
	height: 40px;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 600;
    font-size: 20px;
	letter-spacing: 1px;
	font-family: 'Karla', sans-serif;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 0 5px;
}
.text:hover{
	color:#FFFFFF;
	background-color: #D07B3B;
	transition: all ease 0.3s;
}


 /*left and right arrow */
.next{
	position: absolute;
	top: 63%;
	right: 60px;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
.prev{
	position: absolute;
	top: 63%;
	left: 60px;
	font-size: 30px;
	color: white;
	cursor: pointer;
}


/* phone */
@media screen and (max-width: 480px) {
	.post-slider h1{
		font-size: 70px;
	}
	.post-wrapper{
		width: 75%;
		height: 205px;
	}
	.box{
		height: 205px;
	}
	.next, .prev{
		visibility: hidden;
	}
	
}
/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
	.post-slider h1{
		font-size: 100px;
	}
	.next, .prev{
		visibility: hidden;
	}
}
/* small screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.post-slider h1{
		font-size: 130px;
		color: aquamarine;
	}
	.next{
		top: 62%;
		right: 43px;
		font-size: 30px;
	}
	.prev{
		top: 62%;
		left: 43px;
		font-size: 30px;
	}
}
/* large screen */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.post-slider h1{
		font-size: 150px;
		color: #252525;
	}
	.post-slider button{
		font-size: 23px;
		font-weight: 800;
		padding: 10px 20px;
		border-radius: 30px;
	}
	.next, .prev{
		top: 65%;
		font-size: 30px;
	}
}
/* extra large screen */ 
/* sarai carter */
@media screen and (min-width: 1201px){
	.post-slider h1{
		font-size: 150px;
		color: #D07B3B;
	}
	.post-slider button{
		font-size: 23px;
		font-weight: 800;
		padding: 10px 20px;
		border-radius: 30px;
	}
	.next, .prev{
		top: 65%;
		font-size: 30px;
	}}