@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* removing all margins */
body{
    margin: 0;
    overflow-x: hidden;

}



/* --- top page part --- */

#nav{

    position: relative;
    width: 100%;
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 

}

#slideshow{
    position: absolute;
    top: 50%;
    width: 100%;
}


/* edited the nav bar a little bit  */

#navbar ul{
    position: relative;
    left: 190%;
}

.holder  #home-nav{
    font-weight: 700;
  }



/* since there's only one h1 inside the nav class,  decided not to put a class and just
edit h1 inside the class*/
#nav h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: white;
    text-shadow: 3px 3px #0000004D;
    display: flex;
    margin-top: -300px;
    margin-left: 14%;
    margin-right: 30px;

}

/* class container for svg, locations, and explore button */
.nav-contents{
    display: flex;
    margin-left: 14%;

}

/* editing all p tag inside the nav-contents class */
.nav-contents p{
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px #2C2C2C;

}

/* editing all a tag inside the nav-contents class */
.nav-contents a{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #512D13;
    background-color: white;
    box-sizing: border-box;
    padding: 5px 25px;
    border-radius: 30px;
    position: absolute;
    margin-top: 45px;
    font-size: 20px;
    text-decoration: none;

}

/* editing the hover of the a tag*/
.nav-contents a:hover{
    background-color: #252525;
    color: white;

}


/* pages link  */

/* container that holds all the tags inside the div, 
I created a container so that I can easily position them at one place at once 
and not put their positions each class**/
.pages{
  
    bottom: 10%;
    float: left;
    position: absolute;
    margin-left: 50px;
    
}


/*designing all the a tags inside the pages class  */
.page a{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    text-decoration: none;
    
}

.page{

    margin: 15px 0;
}

/* TODO: fix the pages pos if theres time :) */

/* changed the color of a tag when hovered*/

.page a:hover{

    border: 2px solid white;
    border-radius: 15px;
    padding: 4px;
    margin-left: -5px;



}


.page a:focus{

    border: 2px solid white;
    border-radius: 15px;
    padding: 4px;
    margin-left: -5px;


}


/* --- top-destinations part --- */

/* container for the top-destination part, this will hold all the contents */
.top-destinations{
    background-color: #252525;
    height: 90vh; 
    font-family: 'Karla', sans-serif;
    color: white;

}

/* designed the heading inside the class (Top Destinations) */
.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-shadow: 3px 3px #0000004D;
    display: flex;
    margin-left: 10%; /*aligned it to the headings at the top*/
    margin-top: 40px;
    margin-bottom: 50px;

}

/* to wrap the contents of destination */
.wrapper{

	position: relative;
	max-width: 250%;
    height: 100%;
	overflow: hidden;
    display: flex;
	flex-direction: column;
    margin-left: 9%;
    margin-right: 11%;
    cursor: pointer;
   
}
  
/* change cursor when pressed */
.wrapper:active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

/* to holds the contents of destination */
.container{
    height: 420px;
    width: 105%;
    white-space: nowrap;
    overflow: hidden;
}


/* set the image for destinations */
.destinations img{
    width: 100%;
    height: 80%;
  
}

/* set the heading designs */

.destinations h1{
    margin-top: 3%;
    font-weight: 700;
    font-size: 25px;
}

.destinations h2{
    margin-top: 5px;
    font-weight: 300;
    font-size: 15px;
}

/* set the designs for each destination */

.container .destinations{
    width: 380px;
    padding: 0 20px;
    display:inline-block;
        
}

/* changed the layout for the first destionation only */
.container .destinations:nth-child(1){
    width: 350px;
    padding: 0 20px;
    display:inline-block;
        
}



/* paddles (left and right arrows) */

.left-paddle {
    left: 0;
    margin-left: 50px;

}

.right-paddle {
    right: 0;
    margin-right: 70px;
    position: relative;
}

/* layout for each paddle */
.paddle{
    position: absolute;
    display: flex;
    top: 170%;
    margin-bottom: 100px;
	bottom: 0;
	width: 3em;
    background-color: transparent;

}

button{
    border: none;
}


.hidden, .hidden2{
    display: none;
}


/* change the color of arrow when hover */
.left-paddle:hover path, .right-paddle:hover path{
    fill:  #848383; /* fill because its an svg*/

}



/* --- adventures section---  */

/* layout for the whole section */
.adventures{
    background-color: white;
    height: 100%;
    margin-left: 10%; /*aligned it to the headings at the top*/
    position: relative;
    display: flex;
}

/* designed the Find your Adventure text */
.adventures .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    margin-top: 100px;
    color: #252525;
    position: absolute;

}



/* to wrap the whole places */
.adv-wrapper{

    position: relative;
    height: 90vh;
    width: 100%;
    cursor: pointer;
    cursor: -webkit-pointer;

}

/* change cursor when pressed */
.adv-wrapper:active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}


/* to hold each places */
.adv-container{

    height: 130vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

    
}


.adv-container .adventure-places{
    display: inline-block; /* displays the places in a row*/
    width: 100%;
    margin-top: 0;


}



/* designed the img src inside the adventure-places class */
.adventure-places img{
    float: right;
       height: 76.9%;
       width: 50%;


}


/* this class holds texts */
.components{
    position: relative;
    margin-top: 340px;  /*spacing  between the Title of the section and the descriptions*/
    width: 100%;
}


/* designed the descriptions  */

.adventure-places h1{
    color: #D07B3B;
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    font-weight: 700;

}

.adventure-places h2{
    color: #252525;
    font-family: 'Karla', sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-top: 10px;
    word-break: break-all;
    white-space: normal;

}

.components p{
    color: #252525;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    position: relative;
    word-break: break-all;
    white-space: normal;
    width: 36%;

}



.adventure-places a{
    background-color: #90893E;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    padding: 5px 15px;
    text-decoration: none;
    position: absolute;
    margin-top: 80px;

}

/* added a bg color when Explore is hovered */
.adventure-places a:hover{
    background-color: #D07B3B;
}




/* paddles  */


.adventure-paddles{
    z-index:9999; /*for the paddles to be positioned at front*/
    position: absolute;
    right: 0; /*positioned it at the right part of screen*/
    bottom: 0;
}

.adv-left-paddle {
    position: relative;
    display: inline-block;

}

.adv-right-paddle {
    position: absolute;
    border-left: 2px solid #DCD5CB;
    display: inline-block;
}

/* designed the paddles */
.adv-paddle{
	width: 4em;
    height: 4em;
    float: right;
    position: relative;
    background-color: white;
}


/* hover of paddles */
.adv-left-paddle:hover path, .adv-right-paddle:hover path{
    fill:  #848383;

}



/* --- events section --- */

/* layout of the whole events section */
.events{
    background-color: #163A36;
    height: 107vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    position: relative;

}

/* designed the title for this section */
.events-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    margin-top: 100px;
    position: absolute;
    
}


/* applied margin and changed font color for all elements inside the events class */
.events > * {
    margin-left: 9%;
    color: white;
}



/* designed the descriptions in event section */

.events-list{
    position: absolute;
}

.events-list > *{
    margin-top: 35%;
}



.events-list h1{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    position: relative;

}

.events-list h2{
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 20px;
    position: relative;

}

.events-list p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    size: 25px;
    margin-top: 55px;
    margin-bottom: 20px;
    position: relative;
    word-wrap: break-word;
    width: 50%;

}


.events-list a{
        background-color: white;
        color: #252525;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
        size: 25px;
        border-radius: 30px;
        padding: 5px 15px;
        text-decoration: none;
        position: absolute;
        margin-top: 30px;
}

/* hover of explore button */
.events-list a:hover{
    background-color: #101823;
}


/* images of the each events  */

/* to wrap the whole photos */
.events-wrapper{
        position: relative;
        width: 100%;
        margin-left: 40%;
        margin-right: 0;
        margin-top: 120px;
        height: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        cursor: pointer;
        
        
}


/* change cursor when pressed */
.events-wrapper:active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}


/* to hold each event img */
.events-container{
    overflow: hidden;
    user-select: none;
    width: 100%;
    margin-top: 20px;
    height: 100%;
    
} 

/* displayed each images horizontally */
.buttons{
    display: inline-block;
    position: relative;
    margin-right: 89px;

}


/* adjusted the size of the img */
.events-container img{
    width: 115%;
    height: 70%;

}



/* --- DINE SECTION --- */


/* layout for the whole section */
.dine{
    background-color: white;
    height: 130vh;

}

/* add margin to the elements inside dine */
.dine > *{
    margin-left: 9%;
}



/* designed the title */
.dine-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    margin-top: 100px;
    color: #252525;

}

/* to wrap the whole the elements */
.dine-wrapper{

    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 50px;
    height: 100%;
    

}

/* to hold all elemets */
.dine-container{
    position: relative;
    height: 105%;
    cursor: pointer;
    white-space: nowrap; 
    transition: all 0.2s;
    transform: scale(0.98);
    overflow-y: hidden;

}

/* design for the wraper when it has been pressed/active */
.dine-wrapper .active{
    cursor: grabbing;
    transform: scale(1);
    cursor: -webkit-grabbing;
}


/* design for each restaurant */
.dine-container .restaurants{
    position: relative;
    display:inline-block;
    margin-left: 20px;
    height: 70%;
    text-decoration: none;

}


/* designed the images */
.img-holder img{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background: none;
    margin-bottom: -5px;

}

/* darkens the images  */
.img-holder{
    background-color: black;
    width: 100%;
    height: 90%;
    
}


/* added a layout for the descriptions so it will be easiler */
.restaurants .resto-desc{

    font-family: 'Karla', sans-serif;
    color: white;

    /* positioned the descriptions */
    margin-left: 20px;
    margin-top: -80px;
    position: absolute;

}

.resto-desc h1{
    font-size: 23px;
    word-break: break-all; /*to make the text responsive*/
    margin-right: 10px;
    white-space: normal;

}

.resto-desc h2{
    font-size: 17px;
    font-weight: 400;
}


/* --- CREATORS SECTION --- */

.creators{
    background-color: #DCD5CB;
    height: 150vh;
}

.creators > * {
    margin-left: 9%;
}


.creator-container{
    display: flex;
    flex-wrap: wrap;
}


.creators-container .member{
    padding: 5px 40px;
}

.break{
    flex-basis: 100%;
}


.creators h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-top: 100px;

}

.creator-container .member{
    font-family: 'Karla', sans-serif;
    color: #252525;
}




/* -- MEDIA QUERIES / RESPONSIVENESS --  */


/* small  screens laptops*/
@media screen and (min-width: 769px) and (max-width: 1024px) {

    #nav{
        height: 110vh;
    }

    #slideshow{
        width: 60%;
        top: 55%;
    }


    /* top destinations section */
    .top-destinations{
        height: fit-content;
    }

    .container{
        margin-bottom: 30px;
    }

    .left-paddle{
        margin-left: 30px;

    }

    .right-paddle{
        margin-right: 45px;

    }

    .destinations img{
        width: 91%;

    }

    .container .destinations{
        padding: 0 5px;
    }

    .container .destinations:nth-child(1){
        padding: 0 5px;
    }

    /* events */

    .events-container .img{
        width: 100%;
    }

    .events-list p{
        width: 40%;
    }


    /* dine */

   .dine-container .restaurants:first-of-type{
    width: 70%;
   }


}

/* ipads & tablets*/
@media screen and (min-width: 481px) and (max-width: 768px) {


    /* first part */

    #nav{
        height: 100vh;
    }


    .pages{
        display: flex;
        float: none;
        left: 27%;
        bottom: 40px;
    
    }

    .page{
    flex-direction: column;
    padding: 0 20px;

    }

    .page a:hover{
        margin-left: 0;
        bottom: -5px;
    }


    #nav h1{
        font-size: 80px;
    }

    .nav-contents a{
        font-size: 17px;
    }


    #slideshow{
        top: 60%;
        width: 60%;
    }




    
    /* top destinations section */
        .top-destinations{
            height: fit-content;
        }

        .container{
            margin-bottom: 30px;
        }

        .header, .wrapper{
            margin-left: 7%;
        }

        .wrapper {
            margin-left: 8%;
            margin-right: 6%;
        }
   
        .paddles{
            display: none;
        }

        .container .destinations{
            padding: 0 30px;

        }

        .container .destinations:first-of-type{
            margin-left: -20px;
        }

        .destinations img{
            width: 110%;
    
          
        }

    /* adventures section */
       .adventures{
           margin-left: 7%;
           height: 80%;
       }

       .adventures .title{
           font-size: 40px;
           margin-top: 60px;
       }

       .adventure-places h1{
        size: 24px;
    }
       
       .adventure-places h2{
           size: 20px;
       }

       .adventure-places a{
           margin-top: 40px;
       }

       .components{
           margin-top: 250px;
       }
       
       .components p{
           margin-top: 30px;
           font-size: 15px;
       }

       .adventure-places img{
        height: 61.5%;
    }

    .adventure-paddles{
        display: none;
    }

       /*  events*/

       .events{
           height: 90vh;
       }

       .events-h1{
           margin-top: 60px;
       }

     .buttons{
        margin-right: 30px;
    }

    .events-wrapper{
        margin-left: 44%;
        margin-top: 100px;
    }
    
    .events-container img{
        width: 100%;
        height: 75%;
    
    }

    .events-list > *{

        margin-top: 40%;

    }


    .events-list p{
        width: 40%;
    }
    
    /* dine */

    .dine{
        height: 95vh;
    }

    .dine-heading{
        margin-top: 60px;
    }

    .dine-wrapper{
        height: 90%;
    }


    .dine-container .restaurants:first-of-type{
        width: 70%;
    }




}


@media screen and (max-width: 480px) {

    #nav{
        height: 95vh;
    }

    #nav h1{
        font-size: 70px;
    }

    .nav-contents p{
        font-size: 20px;
    }

    .nav-contents a{
        font-size: 15px;
    }

    .nav-contents svg{
        height: 20;
        width: 18;
    }


    .pages{
        display: flex;
        float: none;
        left: 13%;
        bottom: 40px;
    
    }

    .page{
    flex-direction: column;
    padding: 0 20px;


    }

    .page a:hover{
        margin-left: 0;
        bottom: -5px;
    }

    
    #slideshow{
        margin-top: 80px;
    }





    /* destinations */

    .destinations img{
        width: 100%;
        height: 50%;

      
    }

    .top-destinations{
        height: 75vh;
    }

  
    .header{
        font-size: 30px;
        margin-bottom: 20px;

    }
    .header, .wrapper{
        margin-left: 7%;
    }

  
 

    .paddles{
        display: none;
    }

     
    .destinations img{
        height: 60%;

    }

    /* adventures */

    .adventures .title{
        margin-top: 50px;
        font-size: 25px;

    }

    .adventure-places h1{
        font-size: 20px;
    }


    .adventure-places h2{
        font-size: 15px;
    }

    .components{
        margin-top: 180px;
    }

    .components p{
        font-size: 14px;
        margin-top: 25px;
        width: 38%;

    }

    .adventure-places a{
        margin-top: 30px;
        font-size: 10px;
    }

    .adventures{
        height: 70%;
    }


    .adventure-paddles{
        display: none;
    }
    

    .adventure-places img{
        height: 52%;
    }


    /* events */

    .events{
        height: 70vh;
    }

    .buttons{
        margin-right: 20px;
    }

    .events-wrapper{
        margin-left: 44%;
        margin-top: 70px;
    }


    .events-container img{
        width: 100%;
        height: 70%;
    
    }

    .events-list > *{

        margin-top: 40%;

    }


    .events-h1{
        font-size: 28px;
        margin-top: 55px;
    }

    .events-list h1{
        font-size: 16px;
    }

    .events-list h2{
        font-size: 15px;
    }

    .events-list p{
        font-size: 14px;
        width: 40%;
        margin-top: 20px;
    }

    .events-list a{
        font-size: 10px;
    }


      /* dine */

      .dine{
        height: 90vh;
    }





    .dine-heading{
        font-size: 28px;
        margin-top: 40px;
    }

    .dine-wrapper{
        height: 100%;
        margin-top: 25px;
    }


    .dine-container .restaurants:first-of-type{
        width: 94%;
    }

    .resto-desc h1{
        font-size: 19px;

    }

    .resto-desc h2{
        font-size: 16px;

    }

    .navbar.responsive {
        position: fixed;
        background-color: black;
        height: 100%;
        z-index: 9999;
      }
    
      .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    



}