
body{
    margin: 0;
    background-color: black;
}

.navbg{

    background-image: url("../images/marina.jpg");
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
