@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body{
    font-family: 'Karla', sans-serif;
    margin: 0;
}


/* image on the right */

.image-container{
    float: right;
    display: flex;
    position: relative;

    
}


.image{
    width: 100%;
    height: 110vh;
    vertical-align: top;
}


.logo{
    position: absolute;
    top: 20%;
    left: 34%;
    height: 32%;
    width: 40%;
}

.title{
    top: 45%;
    left: 36%;
    color: rgba(255, 255, 255, 0.857);
}


h4{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 53%;
    left: 46%;
    color: rgba(255, 255, 255, 0.857);
}

/* login  */
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    position: absolute;
}

.log-in{
    margin-top: 20px;
}


h2{
    color: rgb(223, 57, 57);
    font-size: 15px;
    position: absolute;
    bottom: 29vh;


    
}


/* whole forms */

.container{ 

    display: flex;
    background-color: white;
    justify-content: center;
    margin-top: 8%;


}



.form{
    width: 70%;
    height: 50%;
    margin-top: 80px;
    

}


/* email n password form */
input[type=email] ,input[type=password]{
    outline: none;
    width: 90%;
    padding: 15px 3px;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid #C4C4C4;
    font-size: 24px;
    background-color: transparent;
}

.forgotpass{
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    color: #C4C4C4;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 15px;
    clear: both;

}

.forgotpass:hover{
    text-decoration: underline;
    color: #101823;
}


::placeholder{
    color: #C4C4C4;
}

input[type=submit] {

   padding: 20px 80px;
   background-color: #101823;
   color: white;
   border: none;
   border-radius: 10px;
   font-size: 23px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


input[type=submit]:hover{
    background-color:  #90893E;
}


/* text with line (login with)*/

.line-holder{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 80%;
    margin-top: 50px;
    
}


.line {
   width: 45%; 
   text-align: center; 
   border-bottom: 1px solid #C4C4C4; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   position: absolute;
   color: #C4C4C4;
} 

.line span { 
    background:#fff; 
    padding:0 20px; 
}


/* google and fb logo */

.logo-holder{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 88%;
    margin-top: 50px;
}


.logos{

    margin: 5px;
    padding: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}


.logos:hover{

    border: 1px solid #000000;
}


.login-p, .hr1, .hr2{
    display: none;
}

/* sign up link */

.sign-up{
    position: absolute;
   display: flex;
   justify-content: flex-end;
    margin-top: 20px;
    top: 95%;
    margin-bottom: 5%;
}

/* added spacing between sign up */
.sign-up {
    color: rgb(0, 0, 0);
}

.signup-link{
    padding-left: 5px;
    color: #303949cb;
    text-decoration: none;
    margin-top: 16px;
}

.signup-link:hover{
    color: #323a45;
    text-decoration: underline;

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

   .image-container{
    
       width: 50%;
   }

   .image{
       height: 115vh;
       width: 100%;
   }

     .title{
         top: 50vh;
        left: 15vw;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    h4{
       /* top: 60vh; */
        margin-top: 5px;
        left: 22vw;
        display: flex;
        justify-content: center;
    }

    .logo{
        /* width: 40v;
        height: 25vh; */
        height: 25%;
        left: 17vw;
        top: 28vh;
        display: flex;
        justify-content: center;
    }

    .container{
        margin-top: 15%;
    }
   
   .form{
        width: 80%;
        margin-top: 15vh;
   }

   .line-holder{
       top:90%
   }

   .logo-holder{
       top: 94%;
   }

   .sign-up{
       margin-top: 5%;
   }

   h2{
    bottom: 19vh;
    }   
}


@media screen and (min-width: 481px) and (max-width: 768px) {

   
   .image-container{
    
       width: 50%;
   }

   .image{
       height: 115vh;
   }

     .title{
        top: 50vh;
        left: 15vw;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        font-size: 45px;
    }

    h4{
        margin-top: 0px;
        left: 42%;
    }

    .logo{
        height: 25%;
        width: 50%;
        left: 15vw;
        top: 28vh;
        display: flex;
        justify-content: center;
    }

   
   .form{
    width: 80%;

    }


    .container{
        margin-top: 15vh;
    }


    ::placeholder{
      font-size: 18px;
    }


    h2{
        bottom: 28%;
        }   

}


 @media screen and (min-width: 320px) and (max-width: 481px) {
     



    .image-container{
    
    float: none;
    position: absolute;
    display: flex;
        
    }

    .image{
        height: 160vh;
        width: 100%;
        filter: brightness(50%);
    }


    .logo{
        top: 8vh;
        width: 45%;
        height: 20%;
        left: 29%;
       
    }

    .title{
        top: 30vh;
        font-size: 10vw;
        left: 25vw;
        display: flex;

    }

    h4{
        top: 40vh;
        left: 36vw;
        display: flex;
    }

    .log-in{
        color: white;
        font-size: 33px;
    }


    .form{
        position: absolute;
        width: 85%;
    }

    .container{
        margin-top: 45vh;    
    }

    ::placeholder{
        color: white;
      font-size: 18px;
    }

    input[type=email] ,input[type=password]{
        border-bottom: 2px solid white;
        color: white;
        font-size: 18px;
    } 



    .line-holder{
        display: none;
    }

    .logo-holder{
        top: 125vh;
    }

    .logos path{
        fill: white;
    }

    .logos:hover{
        border: 2px solid #0c0c0c;

    }

    .sign-up{
    
        top: 130vh;
    }


    .login-p{
        position: absolute;
        top: 122vh;
        color: #C4C4C4;
        left: 40%;
        display: block;
    }

    .hr1{
        position: absolute;
        top: 124.5vh;
       left: 6%;
        color: #C4C4C4;
        background-color: #C4C4C4;
        width:30vw;
        display: block;

        
    }

    .hr2{
        position: absolute;
        top: 124.5vh;
        margin-left: 11vw;
        background-color: #C4C4C4;
        color: #C4C4C4;
        width: 30vw;
        display: block;
        
    }


    .sign-up{
       top: 140%;
       color: #C4C4C4;
    }

    .signup-link{
        color: white;
    }

    .signup-link:hover{
        color: rgb(164, 164, 164);
    }

    h2{
        bottom: -8%;
        }   
  
}



