@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.288),rgba(0, 0, 0, 0.288)), url("../images/emirates/dubai_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}  

/* containers */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title and button */
.container h1{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 8rem;
    color: white;
}
.container button{
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: 800;
	padding: 5px 15px;
	border-radius: 20px;
	border: none;
	margin-bottom: 20px;
}
button:hover{
	color:#FFFFFF;
	background-color: black;
}

/* image sliders */
.slider{
    width: 85%;
    height: 330px;
    margin: 0 auto;
    overflow: hidden;   
}
.box{
	display: inline-block;
	height: 300px;
	margin: 0 10px;
	position: relative;
}
.sliderImg{
	display: block;
	width: 100%;
	height: 100%;
}
.hoverButton{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
}
.hoverButton:hover{
	opacity: 1;
}
.text{
	display: flex;
	justify-content: center;
	align-items: center;
	width:160px;
	height: 40px;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 600;
    font-size: 20px;
	letter-spacing: 1px;
	font-family: 'Karla', sans-serif;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 0 5px;
}
.text:hover{
	color:#FFFFFF;
	background-color: #D07B3B;
	transition: all ease 0.3s;
}
a{
	text-decoration: none;
}



/* controls
.next{
	position: absolute;
	top: 63%;
	right: 60px;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
.prev{
	position: absolute;
	top: 63%;
	left: 60px;
	font-size: 30px;
	color: white;
	cursor: pointer;
} */
/* phone */
@media screen and (max-width: 480px) {
	.container h1{
		font-size: 5rem;
	}
	.slider{
		width: 80%;
		height: 240px;
	}
	.imgSlider{
		height: 240px;
	}
	.next, .prev{
		visibility: hidden;
	}
	.container button{
        padding: 3px 13px;
    }
}
/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
	.container h1{
		font-size: 6rem;
	}
	.next, .prev{
		visibility: hidden;
	}
}
/* small screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.post-slider h1{
		font-size: 7rem;
	}
    .next, .prev{
		visibility: hidden;
	}
}
/* large screen */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.container h1{
		font-size: 8rem;
	}
	.next, .prev{
		top: 65%;
		font-size: 30px;
	}
}
@media screen and (min-width: 1201px){
	.post-slider h1{
		font-size: 8rem;
	}
	.post-slider button{
		font-size: 23px;
		font-weight: 800;
		padding: 10px 20px;
		border-radius: 30px;
	}
	.next, .prev{
		top: 55%;
		font-size: 30px;
    }
}
