@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body{
    font-family: 'Karla', sans-serif;
    margin: 0;
}


/* image on the right */

.image-container{
    float: left;
    display: flex;
    position: relative;
}


.image{
    width: 70%;
    max-height: 100%;
    position: relative;
    left: 0;
    top: 0;
}


.logo{
    position: absolute;
    top: 23%;
    left: 10%;
}

.title{
    top: 45%;
    left: 16%;
    color: rgba(255, 255, 255, 0.857);
}


/* start your journey */
h4{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 53%;
    left: 25%;
    color: rgba(255, 255, 255, 0.857);
}

/* login  */
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    position: absolute;
}

.log-in{
    margin-top: 5px;
}


/* whole forms */

.container{ 

    display: flex;
    background-color: white;
    justify-content: center;
    margin-top: 80px;
    margin-right: 50px;



}



.form{
    width: 80%;
    height: 50%;
    margin-top: 80px;
    

}


/* email n password form */
.form .email, input[type=password]{
    

    width: 95%;
    padding: 15px 3px;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid #C4C4C4;
    font-size: 24px;
}

.form .fl-name {
    width: 45%;
    padding: 15px 3px;
    margin: 20px 0px;
    margin-right: 20px;
    border: none;
    border-bottom: 2px solid #C4C4C4;
    font-size: 24px;
}
    

/* style the classes that doesnt have the name "names" */




::placeholder{
    color: #C4C4C4;
}

input[type=submit] {

    padding: 20px 80px;
    background-color: #101823;
    color: white;
    border: none;
   border-radius: 10px;
   font-size: 23px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


input[type=submit]:hover{
    background-color:  #101823d5;
}


/* text with line (login with)*/

.line-holder{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 80%;
    margin-top: 50px;
    margin-right: 15px;
}


.line {
   width: 45%; 
   text-align: center; 
   border-bottom: 1px solid #C4C4C4; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   position: absolute;
   color: #C4C4C4;
} 

.line span { 
    background:#fff; 
    padding:0 20px; 
}


/* google and fb logo */

.logo-holder{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 85%;
    margin-top: 50px;
}


.logos{

    margin: 5px;
    padding: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}


.logos:hover{

    border: 1px solid #000000;
}


/* sign up link */

.sign-up{
    position: absolute;
   display: flex;
   justify-content: flex-end;
    margin-top: 20px;
    top: 105%;
}

/* added spacing between sign up */
.sign-up {
    color: #C4C4C4;
}

.signup-link{
    padding-left: 5px;
    color: #101823;
    text-decoration: none;
    margin-top: 16px;
}

.signup-link:hover{
    color: #323a45;
    text-decoration: underline;

}