@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@media screen and (max-width: 1920px) {
    body{
        margin:0;
        font-family: 'Karla';
    }

    .navbg{
        display: flex;
        flex-direction: row-reverse;
    }

    .container{
        border: 1px black;
        width: 5in;
        height: 8in;
        background-color: white;
        margin-left: 1in;
        margin-top: 0.5in;
    }

    .user-details{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 250px;
    }
    
    /*prof details*/
    .prof-pic{
        border-radius: 50%;
        width: 130px;
        height: 130px;
        position: relative;
        margin-left: 110px;
        margin-top: 60px;
    }
    .circle{
        position: relative;
        margin-left: -290px;
        margin-top: 140px;
        width: 20px;
        height: 20px;
        background: #252525;
        border-radius: 50%;
        padding: 7px;
    }
        
    .edit{
        position: relative;
        width: 20px;
        height: auto;
    }
    .descs{
        display: flex;
        flex-direction: column;
    }
    .name{
        position: relative;
        margin-left: 50px;
        margin-top: 70px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
    
        color: #252525;
    }
    .email{
        position: relative;
        height: 29px;
        margin-left: 50px;
        margin-top: 7px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
    
        color: #252525;
    }
    .location-img{
        position: relative;
        width: auto;
        height: 15px;
        padding-right: 5px;
    }
    .location{
        position: relative;
        margin-top: 28px;
        margin-left: 50px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        color: #252525;
    }
        
    h1{
        position: relative;
        margin-left: 30px;
        margin-top: -120px;
    
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
    
        color: #252525;
    }    
    
    h2{
        position: relative;
        height: 28px;
        margin-left: 30px;
        margin-top: 150px;
        padding-bottom: 20px;
        
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        
        color: #252525;
    }
        
    .acc-s{
        position: relative;
        margin-left: 30px;
    
        cursor: pointer;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: #252525;
    }
    
    .forms{
        display: grid;
    }
       
    .forms1{
        display: flex;
        display: inline-block;
    }
    .name-label{
        position: relative;
        display: inline-block;
        height: 18px;
        margin-left: 365px;
        margin-top: -20px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    
        color: #252525;
    }
    .lname-label{
        position: relative;
        display: inline-block;
        margin-left: 291px;
        margin-top: -20px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    
        color: #252525;
    }
    .first-name{
        outline: none;
        position: relative;
        height: 30px;
        width: 310px;
        margin-left: 365px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
    .last-name{
        outline: none;
        position: relative;
        height: 30px;
        width: 310px;
        margin-left: 720px;
        margin-top: -38px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
        
    .loc-label{
        position: relative;
        height: 18px;
        margin-left: 365px;
        margin-top: 40px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    
        color: #252525;
    }
    
    .loc{
        outline: none;
        position: relative;
        height: 30px;
        width: 665px;
        margin-left: 365px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
    
    .cp-label{
        position: relative;
        height: 18px;
        margin-left: 365px;
        margin-top: 40px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    
        color: #252525;
    }
    .phone-no{
        outline: none;
        position: relative;
        height: 30px;
        width: 665px;
        margin-left: 365px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
        
    .save-changes{
        position: relative;
        margin-left: 520px;
        margin-top: 0.5in;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 150px;
        height: 40px;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    }

    .save-changes:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
        
    .delete-acc{
        position: relative;
        margin-left: 60px;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 150px;
        height: 40px;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    } 

    .delete-acc:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
}

@media screen and (max-width: 1200px) {
    body{
        margin:0;
        font-family: 'Karla';
    }

    .navbg{
        display: flex;
        flex-direction: row-reverse;
    }

    .container{
        border: 1px black;
        width: 5in;
        height: 8in;
        background-color: white;
        margin-left: 0.8in;
        margin-top: 0.5in;
    }

    .user-details{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 250px;
    }
    
    /*prof details*/
    .prof-pic{
        border-radius: 50%;
        width: 130px;
        height: 130px;
        position: relative;
        margin-left: 30px;
        margin-top: 60px;
    }
    .circle{
        position: relative;
        margin-left: -270px;
        margin-top: 130px;
        width: 17px;
        height: 17px;
        background: #252525;
        border-radius: 50%;
        padding: 7px;
    }
        
    .edit{
        position: relative;
        width: 17px;
        height: auto;
    }
    .descs{
        display: flex;
        flex-direction: column;
    }
    .name{
        position: relative;
        margin-left: 45px;
        margin-top: 55px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    
        color: #252525;
    }
    .email{
        position: relative;
        height: 29px;
        margin-left: 45px;
        margin-top: 2px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    
        color: #252525;
    }
    .location-img{
        position: relative;
        width: auto;
        height: 12.5px;
        padding-right: 3px;
    }
    .location{
        position: relative;
        margin-top: 15px;
        margin-left: 45px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #252525;
    }
        
    h1{
        position: relative;
        margin-left: 0px;
        margin-top: -110px;
    
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    
        color: #252525;
    }    
    
    h2{
        position: relative;
        height: 28px;
        margin-left: 0px;
        margin-top: 150px;
        padding-bottom: 15px;
        
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        
        color: #252525;
    }
        
    .acc-s{
        position: relative;
        margin-left: 0px;
    
        cursor: pointer;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        color: #252525;
    }
    
    .forms{
        display: grid;
    }
        
    .forms1{
        display: flex;
        display: inline-block;
        margin-top: -10px;
    }
    .name-label{
        position: relative;
        display: inline-block;
        height: 18px;
        margin-left: 285px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    .lname-label{
        position: relative;
        display: inline-block;
        margin-left: 291px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    .first-name{
        outline: none;
        position: relative;
        height: 40px;
        width: 310px;
        margin-left: 285px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
    }
    .last-name{
        outline: none;
        position: relative;
        height: 40px;
        width: 310px;
        margin-left: 635px;
        margin-top: -40px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
    }
        
    .loc-label{
        position: relative;
        height: 18px;
        margin-left: 285px;
        margin-top: 40px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    
    .loc{
        outline: none;
        position: relative;
        height: 40px;
        width: 660px;
        margin-left: 285px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
    }
    
    .cp-label{
        position: relative;
        height: 18px;
        margin-left: 285px;
        margin-top: 40px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    .phone-no{
        outline: none;
        position: relative;
        height: 40px;
        width: 660px;
        margin-left: 285px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 17px;
        border: 2px solid #252525;
        border-radius: 10px;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
    }
        
    .save-changes{
        position: relative;
        margin-left: 450px;
        margin-top: 0.6in;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 148px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    }

    .save-changes:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
        
    .delete-acc{
        position: relative;
        margin-left: 40px;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 148px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    } 

    .delete-acc:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
}

@media screen and (max-width: 1024px) {
    body{
        margin:0;
        font-family: 'Karla';
    }

    .navbg{
        display: flex;
        flex-direction: row-reverse;
    }

    .container{
        border: 1px black;
        width: 5in;
        height: 8in;
        background-color: white;
        margin-left: 0.7in;
        margin-top: 0.5in;
    }

    .user-details{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 250px;
    }
    
    /*prof details*/
    .prof-pic{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        position: relative;
        margin-left: 5px;
        margin-top: 60px;
    }
    .circle{
        position: relative;
        margin-left: -235px;
        margin-top: 110px;
        width: 13px;
        height: 13px;
        background: #252525;
        border-radius: 50%;
        padding: 7px;
    }
        
    .edit{
        position: relative;
        margin-top: -1px;
        margin-left: -1px;
        width: 15px;
        height: auto;
    }
    .descs{
        display: flex;
        flex-direction: column;
    }
    .name{
        position: relative;
        margin-left: 40px;
        margin-top: 60px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
    
        color: #252525;
    }
    .email{
        position: relative;
        height: 29px;
        margin-left: 40px;
        margin-top: 1px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    
        color: #252525;
    }
    .location-img{
        position: relative;
        width: auto;
        height: 12.5px;
        padding-right: 3px;
    }
    .location{
        position: relative;
        margin-top: 10px;
        margin-left: 40px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #252525;
    }
        
    h1{
        position: relative;
        margin-left: 0px;
        margin-top: -110px;
    
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
    
        color: #252525;
    }    
    
    h2{
        position: relative;
        height: 28px;
        margin-left: 0px;
        margin-top: 150px;
        padding-bottom: 8px;
        
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        
        color: #252525;
    }
        
    .acc-s{
        position: relative;
        margin-left: 0px;
    
        cursor: pointer;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        color: #252525;
    }
    
    .forms{
        display: grid;
    }
        
    .forms1{
        display: flex;
        display: inline-block;
        margin-top: -10px;
    }
    .name-label{
        position: relative;
        display: inline-block;
        height: 18px;
        margin-left: 260px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    .lname-label{
        position: relative;
        display: inline-block;
        margin-left: 250px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    .first-name{
        outline: none;
        position: relative;
        height: 30px;
        width: 260px;
        margin-left: 260px;
        margin-top: 2px;
        box-sizing: border-box;
        padding: 16px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
    .last-name{
        outline: none;
        position: relative;
        height: 30px;
        width: 260px;
        margin-left: 568px;
        margin-top: -37px;
        box-sizing: border-box;
        padding: 16px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
        
    .loc-label{
        position: relative;
        height: 18px;
        margin-left: 260px;
        margin-top: 30px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    
    .loc{
        outline: none;
        position: relative;
        height: 30px;
        width: 570px;
        margin-left: 260px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 16px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
    
    .cp-label{
        position: relative;
        height: 18px;
        margin-left: 260px;
        margin-top: 30px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    .phone-no{
        outline: none;
        position: relative;
        height: 30px;
        width: 570px;
        margin-left: 260px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 16px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
    }
        
    .save-changes{
        position: relative;
        margin-left: 380px;
        margin-top: 0.5in;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 148px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    }

    .save-changes:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
        
    .delete-acc{
        position: relative;
        margin-left: 40px;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 148px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    } 

    .delete-acc:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
}

@media screen and (max-width: 972px) {
    body{
        margin:0;
        font-family: 'Karla';
    }

    .navbg{
        display: flex;
        flex-direction: row-reverse;
    }

    .container{
        border: 1px black;
        width: 5in;
        height: 8in;
        background-color: white;
        margin-left: 40px;
        margin-top: 0.4in;
    }

    .user-details{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 250px;
    }
    
    /*prof details*/
    .prof-pic{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: relative;
        margin-left: -50px;
        margin-top: 40px;
    }
    .circle{
        position: relative;
        margin-left: -183px;
        margin-top: 83px;
        width: 11px;
        height: 11px;
        background: #252525;
        border-radius: 50%;
        padding: 7px;
    }
        
    .edit{
        position: relative;
        margin-right: 4px;
        margin-bottom: 4px;
        width: 14px;
        height: auto;
    }
    .descs{
        display: flex;
        flex-direction: column;
    }
    .name{
        position: relative;
        margin-left: 30px;
        margin-top: 40px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    
        color: #252525;
    }
    .email{
        position: relative;
        height: 29px;
        margin-left: 30px;
        margin-top: 1px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    
        color: #252525;
    }
    .location-img{
        position: relative;
        width: 9px;
        height: 9px;
        padding-right: 1px;
    }
    .location{
        position: relative;
        margin-top: 5px;
        margin-left: 30px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        color: #252525;
    }
        
    h1{
        position: relative;
        margin-left: 0px;
        margin-top: -90px;
    
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    
        color: #252525;
    }    
    
    h2{
        position: relative;
        height: 28px;
        margin-left: 0px;
        margin-top: 70px;
        padding-bottom: 8px;
        
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        
        color: #252525;
    }
        
    .acc-s{
        position: relative;
        margin-left: 0px;
    
        cursor: pointer;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #252525;
    }
    
    .forms{
        display: grid;
    }
        
    .forms1{
        display: flex;
        display: inline-block;
        margin-top: -10px;
    }
    .name-label{
        position: relative;
        display: inline-block;
        height: 18px;
        margin-left: 200px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
    
        color: #252525;
    }
    .lname-label{
        position: relative;
        display: inline-block;
        margin-left: 190px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
    
        color: #252525;
    }
    .first-name{
        outline: none;
        position: relative;
        height: 32px;
        width: 200px;
        margin-left: 200px;
        margin-top: 2px;
        box-sizing: border-box;
        padding: 10px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 13px;
    }
    .last-name{
        outline: none;
        position: relative;
        height: 32px;
        width: 200px;
        margin-left: 444px;
        margin-top: -32px;
        box-sizing: border-box;
        padding: 10px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 13px;
    }
        
    .loc-label{
        position: relative;
        height: 18px;
        margin-left: 200px;
        margin-top: 20px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
    
        color: #252525;
    }
    
    .loc{
        outline: none;
        position: relative;
        height: 32px;
        width: 445px;
        margin-left: 200px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 10px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 13px;
    }
    
    .cp-label{
        position: relative;
        height: 18px;
        margin-left: 200px;
        margin-top: 20px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
    
        color: #252525;
    }
    .phone-no{
        outline: none;
        position: relative;
        height: 32px;
        width: 445px;
        margin-left: 200px;
        margin-top: 3px;
        box-sizing: border-box;
        padding: 10px;
        border: 2px solid #252525;
        border-radius: 8px;
        font-family: 'Karla', sans-serif;
        font-size: 13px;
    }
        
    .save-changes{
        position: relative;
        margin-left: 275px;
        margin-top: 0.4in;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 130px;
        height: 35px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    }

    .save-changes:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
        
    .delete-acc{
        position: relative;
        margin-left: 30px;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 130px;
        height: 35px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    } 

    .delete-acc:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
}

@media screen and (max-width: 530px) {
    body{
        margin:0;
        font-family: 'Karla';
    }

    .navbg{
        display: flex;
        flex-direction: row-reverse;
    }

    .container{
        border: 1px black;
        width: 5in;
        height: 5in;
        background-color: white;
        margin-left: 35px;
        margin-top: 0.4in;
    }

    .user-details{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 250px;
    }
    
    /*prof details*/
    .prof-pic{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        position: relative;
        margin-left: -100px;
        margin-top: 60px;
    }
    .circle{
        position: relative;
        margin-left: -160px;
        margin-top: 89px;
        width: 8px;
        height: 8px;
        background: #252525;
        border-radius: 50%;
        padding: 7px;
    }
        
    .edit{
        position: relative;
        margin-right: 6px;
        margin-bottom: 6px;
        width: 11px;
        height: auto;
    }
    .descs{
        display: flex;
        flex-direction: column;
    }
    .name{
        position: relative;
        margin-left: 25px;
        margin-top: 60px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
    
        color: #252525;
    }
    .email{
        position: relative;
        height: 29px;
        margin-left: 25px;
        margin-top: 1px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
    
        color: #252525;
    }
    .location-img{
        position: relative;
        width: 9px;
        height: 9px;
        padding-right: 1px;
    }
    .location{
        position: relative;
        margin-top: 0px;
        margin-left: 25px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        color: #252525;
    }
        
    h1{
        position: relative;
        margin-left: 0px;
        margin-top: -75px;
    
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    
        color: #252525;
    }    
    
    h2{
        position: relative;
        height: 28px;
        margin-left: 0px;
        margin-top: 70px;
        padding-bottom: 0px;
        
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        
        color: #252525;
    }
        
    .acc-s{
        position: relative;
        margin-left: 0px;
    
        cursor: pointer;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #252525;
    }
    
    .forms{
        display: grid;
    }
        
    .forms1{
        display: flex;
        display: inline-block;
        margin-top: -10px;
    }
    .name-label{
        position: relative;
        display: inline-block;
        height: 18px;
        margin-left: 150px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
    
        color: #252525;
    }
    .lname-label{
        position: relative;
        display: inline-block;
        margin-left: 110px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
    
        color: #252525;
    }
    .first-name{
        outline: none;
        position: relative;
        height: 25px;
        width: 130px;
        margin-left: 150px;
        margin-top: -4px;
        box-sizing: border-box;
        padding: 8px;
        border: 1.5px solid #252525;
        border-radius: 6px;
        font-family: 'Karla', sans-serif;
        font-size: 11px;
    }
    .last-name{
        outline: none;
        position: relative;
        height: 25px;
        width: 130px;
        margin-left: 304px;
        margin-top: -25px;
        box-sizing: border-box;
        padding: 8px;
        border: 1.5px solid #252525;
        border-radius: 6px;
        font-family: 'Karla', sans-serif;
        font-size: 11px;
    }
        
    .loc-label{
        position: relative;
        height: 18px;
        margin-left: 150px;
        margin-top: 15px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
    
        color: #252525;
    }
    
    .loc{
        outline: none;
        position: relative;
        height: 25px;
        width: 285px;
        margin-left: 150px;
        margin-top: -5px;
        box-sizing: border-box;
        padding: 8px;
        border: 1.5px solid #252525;
        border-radius: 6px;
        font-family: 'Karla', sans-serif;
        font-size: 11px;
    }
    
    .cp-label{
        position: relative;
        height: 18px;
        margin-left: 150px;
        margin-top: 15px;
    
        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
    
        color: #252525;
    }
    .phone-no{
        outline: none;
        position: relative;
        height: 25px;
        width: 285px;
        margin-left: 150px;
        margin-top: -5px;
        box-sizing: border-box;
        padding: 8px;
        border: 1.5px solid #252525;
        border-radius: 6px;
        font-family: 'Karla', sans-serif;
        font-size: 11px;
    }
        
    .save-changes{
        position: relative;
        margin-left: 173px;
        margin-top: 35px;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 110px;
        height: 30px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    }

    .save-changes:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
        
    .delete-acc{
        position: relative;
        margin-left: 20px;
        border: 2px solid #90893E;
        border-radius: 70px;
        color: white;
        background-color: #90893E;
        width: 110px;
        height: 30px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    } 

    .delete-acc:hover{
        background-color: #252525;
        border: 2px solid #252525;
    }
}