@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body{
    margin:0;
    font-family: Karla;
}

/*background*/
.background-container{
    display:flex;
}

.rectangle{
    display: block;
    width: 100%;
    height: 250px;
    

    background: white;
}

/*prof details*/
.profile-container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    border-radius: 1cm;
}

.profile-pic{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 420px;
    top: 174px;

    background: url(../images/placeholder2.jpg);
    background-size: 140px;
    box-sizing: content-box;
    border-radius: 150px;
}

.name{
    position: absolute;
    left: 615px;
    top: 190px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 133.69%;
    /* identical to box height, or 47px */

    color: #252525;
}

.email{
    position: absolute;
    height: 29px;
    left: 615px;
    top: 229px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 133.69%;
    /* or 29px */

    color: #252525;
}

.location-img{
    position: absolute;
    width: 6.66px;
    height: 13.33px;
    left: 615px;
    top: 283px;
}

.location{
    position: absolute;
    height: 29px;
    left: 630px;
    top: 278.5px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 133.69%;
    color: #252525;
}

.circle{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 535px;
    top: 264px;
    background: #252525;
    border-radius: 50%;
}

.edit{
    position: absolute;
    left: 541px;
    top: 270px;
}

h1{
    position: absolute;
    width: 206px;
    height: 43px;
    left: 103px;
    top: 190px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 43px;
    /* identical to box height */

    color: #252525;
}

h2{
    position: absolute;
    height: 35px;
    left: 103px;
    top: 348px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height */

    color: #252525;
}

.acc-s{
    position: absolute;
    height: 35px;
    left: 103px;
    top: 405px;

    cursor: pointer;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height */
    color: #252525;
}

p{
    position: absolute;
    height: 18px;
    left: 420px;
    top: 424px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    /* identical to box height */

    color: #252525;
}

.two{
    position: absolute;
    height: 18px;
    left: 420px;
    top: 545px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    /* identical to box height */

    color: #252525;
}

.three{
    position: absolute;
    height: 18px;
    left: 420px;
    top: 664px;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    /* identical to box height */

    color: #252525;
}

.full-name{
    outline: none;
    position: absolute;
    width: 332px;
    left: 419px;
    top: 450px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #252525;
    border-radius: 10px;
    font-family: 'Karla', sans-serif;
}

.last-name{
    outline: none;
    position: absolute;
    width: 332px;
    left: 828px;
    top: 450px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #252525;
    border-radius: 10px;
    font-family: 'Karla', sans-serif;
}

.loc{
    outline: none;
    position: absolute;
    width: 740px;
    left: 419px;
    top: 571px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #252525;
    border-radius: 10px;
    font-family: 'Karla', sans-serif;
}

.phone-no{
    outline: none;
    position: absolute;
    width: 740px;
    left: 419px;
    top: 692px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #252525;
    border-radius: 10px;
    font-family: 'Karla', sans-serif;
}

.btn{
    top: 800px;
    border: 2px solid #90893E;
    border-radius: 30px;
    color: white;
    background-color: #90893E;
    width: 150px;
    height: 40px;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}
